*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(2, 1, 40);
    font-size: 1.1rem;
    color: white;
    transition: all .5s ease-in-out;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    height: 50vw;
    color: white;
    overflow: hidden;
}
section{
    min-height: 50vw;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: all .5s ease-in-out;
    background-color: rgb(2, 2, 40);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
    background-color: rgb(2, 2, 40);
}
.sec2{
    display: none;
    transform: translateY(0) scale(1);
    background-color: rgb(2, 2, 80);
}
.sec3{
    display: none;
    transform: translateY(0) scale(1);
    background-color: rgb(2, 2, 120);
}
.sec4{
    display: none;
    transform: translateY(0) scale(1);
    background-color: rgb(2, 2, 160);
}
.sec5{
    display: none;
    transform: translateY(0) scale(1);
    background-color: rgb(2, 2, 200);
}

.active{
    display: block;
    animation: slidein 1s ease-in-out;
    @keyframes slidein {
        0%{
            transform: translateY(-100%) scale (0);
        }
        100%{
            transform: translateY(-100%) scale (0);
        }
    }
}

.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}
.control.active-btn{
    background-color: greenyellow;
    transition: all .5s ease-in-out;
}
.control{
    padding: 1rem;
    cursor: pointer;
    background-color: grey;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.417);
}
i{
    font-size: 1.2rem;
    color: white;
    pointer-events: none;
}

/* header */
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}
.header-content .left-header{
    display: flex;
    align-items: center;
    position: relative;
}
.header-content .left-header .h-shape{
    transition: all .5s ease-in-out;
    width: 65%;
    height: 100%;
    background-color: greenyellow;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 0%, 100% 0%, 75% 100%, 0% 100%);
}
.header-content .left-header .h-image{
    width: 65%;
    height: 90%;
    padding-left: 5px;
    border-radius: 50px;
    margin-left: 4rem;
    background-color: rgb(2, 2, 40);
    transition: all .5s ease-in-out;
}
.header-content .left-header .h-image img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
    transition: all .5s ease-in-out;
    filter: grayscale(100%);
}
.header-content .left-header .h-image img:hover{
    filter: grayscale(0);
}


.header-content .right-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
}
.header-content .right-header .name{
    font-size: 3rem;
}
.header-content .right-header .name span{
    color: greenyellow;
}
.header-content .right-header p{
    margin: 1.5rem 0;
    line-height: 2 rem;
}

/*Button at home*/
.btn-con{
    display: flex;
    align-self: flex-start;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid greenyellow;
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.btn-text{
    padding: 0 2rem;
}
.btn-icon{
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}
.main-btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .5s ease-out;
    z-index: -1;
}
.main-btn:hover::before{
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    transform: translateX(0);
}